.student-admin-container{
    max-width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
}

.student-admin-btn-container{
    display: flex;
    margin-bottom: 38px;
    align-items: center;
    /* flex-direction: column; */
}

.student-admin-btn{
    min-width: 150px;
    margin-right: 48px;
}

.student-admin-btn:last-child{
    margin-right: 0px;
}   

.student-admin-btn > .MuiFormControl-root {
    width: 100%;
}

.empty-state-container{
    height: 400px;
    width: 100%;
    margin-top: 56px;
    /* background-color: #ffffff; */
    display: flex;
    justify-content: center;
}

.table-cont{
    display: flex;
    width: 100%;
    max-height: 70vh;
}

.table-cont-inner{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.box-shadow{
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
}