.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container{
    min-width: 60%;
    min-height: 80%;    
    margin: auto;
}

.table{
    width: 100%;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.faculty-btn{
    margin-top: 42px !important;
}