/* body{
    width: auto;
} */
.student-login-top-container{
    width: 99vw;
    height: 99vh;
}

.title{
    padding-top: 3%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 56px;
    color: #0036A3;
    }
    .titleContainer{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    .studentCard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px 92px;
        background: #FFFFFF;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }
    
    .name{
    
    /* Headline 5 */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    
    letter-spacing: 0.18px;
    
    /* 01. Primary/500 */
    
    color: #0052F5;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 14px 0px;
    }
    
    .question{
    
    /* Body 1 */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    padding-bottom: 1em;
    
    letter-spacing: 0.5px;
    
    /* 01. Primary/500 */
    
    color: #0052F5;
    }
    
    .answer{
        
    
    /* Body 2 */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    letter-spacing: 0.25px;
    
    /* 01. Primary/300 */
    
    color: #4785FF;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
    }

.Button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px 6px 6px 8px;
        background: #0052F5;
        border-radius: 4px;
}

.Dropdown{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 6px 6px 6px 8px;

position: absolute;
width: 238px;
height: 44px;
left: 505px;
top: 271px;

/* 01. Primary/500 */

border: 1px solid #0052F5;
border-radius: 4px;
}


.content{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 0.5em;
}

.contentLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 80%;
    padding-left: 5%;
}

.studentDetail{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px 38px;
background: #FFFFFF;
/* drop shadow */
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
border-radius: 4px;
}

.contentRight{
    display: flex;
    flex-direction: column;
    gap: 4%;
    /* width: auto; */
    /* height: auto; */
}

.tableContainer{

background: #FFFFFF;
/* drop shadow */

border-radius: 4px;
}

.student-table{
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
    width: fit-content;
}


.dropSelect{
    display: flex;
    align-content: space-around;
}


.student-admin-btn{
    padding-top: 10px;
}